/* Custom Font */
@font-face {
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Regular'), url('../font/Metropolis-Regular.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Regular Italic'), url('../font/Metropolis-RegularItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Extra Light';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Extra Light'), url('../font/Metropolis-ExtraLight.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Light';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Light'), url('../font/Metropolis-Light.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Thin'), url('../font/Metropolis-Thin.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Extra Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Extra Light Italic'), url('../font/Metropolis-ExtraLightItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Light Italic'), url('../font/Metropolis-LightItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Thin Italic'), url('../font/Metropolis-ThinItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Medium'), url('../font/Metropolis-Medium.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Semi Bold'), url('../font/Metropolis-SemiBold.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Bold'), url('../font/Metropolis-Bold.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Bold Italic'), url('../font/Metropolis-BoldItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Medium Italic'), url('../font/Metropolis-MediumItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Semi Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Semi Bold Italic'), url('../font/Metropolis-SemiBoldItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Extra Bold'), url('../font/Metropolis-ExtraBold.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Extra Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Extra Bold Italic'), url('../font/Metropolis-ExtraBoldItalic.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Black';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Black'), url('../font/Metropolis-Black.woff') format('woff');
    }
    
  
    @font-face {
    font-family: 'Metropolis Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Black Italic'), url('../font/Metropolis-BlackItalic.woff') format('woff');
    }
.details-container{
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    background: white; 
    border-radius: 10px; 
    overflow: hidden; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex;
}
.details-container .left-side-details{
    flex: 1 1 0; 
    align-self: stretch; 
    position: relative;


}
.details-container .left-side-details .name-one{
    width: 307px; 
    padding-left: 10px;
    top: 22px; 
    position: absolute; 
    color: #333333; 
    font-size: 14px; 
    font-family: "Metropolis Regular"; 
    font-weight: 400; 
    line-height: 22px; 
    word-wrap: break-word
}
.details-container .left-side-details .name{
    width: 206.58px; 
    height: 18px; 
    padding-left: 10px;
    top: 0px; 
    position: absolute; 
    color: #F88922; 
    font-size: 9px; 
    font-family: "Metropolis Regular"; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 12px; 
    word-wrap: break-word
}
.details-container .right-side{
   text-align: right;
    color: #079D49; 
    font-size: 9px; 
    font-family: "Metropolis Regular"; 
    font-weight: 600; 
    line-height: 12px; 
    word-wrap: break-word;
    margin: auto;
    
}
